<div class="container">
  <a class="btn btn-outline-primary btn-sm" routerLink="/transition-new"
    >New Transaction</a
  >
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Data Hora</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of transitions; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.dateTime }}</td>
        <td>{{ item.description }}</td>
        <td>
          {{ item.value | currency: "BRL" }}
        </td>
        <td [ngStyle]="{ color: item.type === 'REVENUE' ? 'blue' : 'red' }">
          {{ item.type }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
