<div class="container">
  <div class="jumbotron">
    <h1 class="display-6">Account Holders</h1>
    <p class="lead-1">Account Holder Registration</p>
    <hr class="my-2" />
  </div>
  <form [formGroup]="form">
    <div class="row g-2">
      <div class="col-md-3 form-group">
        <label for="cpfInput">CPF</label>
        <input
          class="form-control"
          type="text"
          id="cpfInput"
          formControlName="cpfControl"
          [(ngModel)]="cpf"
        />
        <small
          *ngIf="cpfControl?.invalid && cpfControl?.touched"
          class="text-danger"
          >CPF must be 11 digits</small
        >
      </div>
      <div class="col-md-5">
        <label for="nameInput">Name</label>
        <input
          class="form-control"
          type="text"
          id="nameInput"
          formControlName="nameControl"
          [(ngModel)]="name"
        />
        <small
          *ngIf="nameControl?.invalid && nameControl?.touched"
          class="text-danger"
          >Name is required</small
        >
      </div>
      <div class="col-md-4">
        <div class="d-grid gap-2 d-md-flex buttons">
          <button
            [disabled]="form.invalid"
            class="btn btn-outline-primary btn-50"
            type="submit"
            (click)="save()"
          >
            Add
          </button>
          <a routerLink="/transaction" class="btn btn-outline-secondary btn-50"
            >Back</a
          >
        </div>
      </div>
    </div>
  </form>
  <p></p>
  <div class="card-container">
    <div *ngFor="let item of accountHolders; index as i" class="card">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">Account N° {{ item.account.number }}</p>
        <p class="card-text">
          Balance {{ item.account.balance | currency: "USD" }}
        </p>
      </div>
    </div>
  </div>
</div>
