<div class="container">
  <div class="">
    <h1 class="display-6">Transaction</h1>
    <p class="lead-1">List of transactions by account holder</p>
    <hr class="my-2" />
    <div class="input-group">
      <select
        id="iaccountHouder"
        [(ngModel)]="accountHolder"
        class="form-select"
      >
        <option *ngFor="let a of accountHolders" [ngValue]="a">
          {{ a.cpf }}-{{ a.name }}
        </option>
      </select>
      <button
        class="btn btn-outline-secondary me-md-2 btn-sm"
        type="button"
        (click)="listTransactions()"
      >
        Search
      </button>
      <a class="btn btn-outline-primary btn-sm" routerLink="/transaction-new"
        >New Transaction</a
      >
      <a class="btn btn-outline-primary btn-sm" routerLink="/account-holder"
        >Account Holders</a
      >
    </div>
    <div class="table-transactions">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date Time</th>
            <th scope="col">Description</th>
            <th scope="col">Value</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of transactions; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.date }}</td>
            <td>{{ item.description }}</td>
            <td>
              {{ item.value | currency: "USD" }}
            </td>
            <td [ngStyle]="{ color: item.type === 'REVENUE' ? 'blue' : 'red' }">
              {{ item.type }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
